# Data Selection and Filtering

In [3]:
import pandas as pd
df = pd.read_csv("Movie.csv")
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [9]:
# Selectinng Columns
# One column
print(df['Actor'])

0         Shah Rukh Khan
1            Salman Khan
2             Aamir Khan
3          Ranbir Kapoor
4          Ranveer Singh
5     Ayushmann Khurrana
6          Rajkummar Rao
7         Hrithik Roshan
8           Akshay Kumar
9          Kartik Aaryan
10          Varun Dhawan
11         Vicky Kaushal
Name: Actor, dtype: object

In [27]:
# selecting specific column value
df['Actor'][0]

'Shah Rukh Khan'

In [19]:
# Selectiong Multiple
df[["Actor","Film"]]

                 Actor                      Film
0       Shah Rukh Khan                   Pathaan
1          Salman Khan           Tiger Zinda Hai
2           Aamir Khan                    Dangal
3        Ranbir Kapoor                Brahmastra
4        Ranveer Singh                 Padmaavat
5   Ayushmann Khurrana                 Andhadhun
6        Rajkummar Rao                     Stree
7       Hrithik Roshan                       War
8         Akshay Kumar                Good Newwz
9        Kartik Aaryan         Bhool Bhulaiyaa 2
10        Varun Dhawan     Badrinath Ki Dulhania
11       Vicky Kaushal  Uri: The Surgical Strike

# iloc() and loc()

In [39]:
# Selecting Rows Using Index position
df.iloc[4]

Actor                   Ranveer Singh
Film                        Padmaavat
Year                             2018
Genre                      Historical
BoxOffice(INR Crore)              585
IMDb                              7.0
Name: 4, dtype: object

In [41]:
# Selecting Rows using Index Position
df.loc[0]

Actor                   Shah Rukh Khan
Film                           Pathaan
Year                              2023
Genre                           Action
BoxOffice(INR Crore)              1050
IMDb                               7.2
Name: 0, dtype: object

In [57]:
# Slectiong specific row value
df.iloc[1,1]

'Tiger Zinda Hai'

In [49]:
# selecting Specific Row Value
df.loc[1,"Film"]

'Tiger Zinda Hai'

In [63]:
# slecting using slicing
df.loc[1:5,["Actor","Film","IMDb"]]

                Actor             Film  IMDb
1         Salman Khan  Tiger Zinda Hai   6.0
2          Aamir Khan           Dangal   8.4
3       Ranbir Kapoor       Brahmastra   5.6
4       Ranveer Singh        Padmaavat   7.0
5  Ayushmann Khurrana        Andhadhun   8.3

In [69]:
df.loc[3:8,["Actor","Film",'Genre','IMDb']]

                Actor        Film          Genre  IMDb
3       Ranbir Kapoor  Brahmastra        Fantasy   5.6
4       Ranveer Singh   Padmaavat     Historical   7.0
5  Ayushmann Khurrana   Andhadhun       Thriller   8.3
6       Rajkummar Rao       Stree  Horror Comedy   7.5
7      Hrithik Roshan         War         Action   6.5
8        Akshay Kumar  Good Newwz         Comedy   7.0

In [79]:
df.iloc[3:8,0::2]

                Actor  Year  BoxOffice(INR Crore)
3       Ranbir Kapoor  2022                   431
4       Ranveer Singh  2018                   585
5  Ayushmann Khurrana  2018                   111
6       Rajkummar Rao  2018                   180
7      Hrithik Roshan  2019                   475

# Selection and Filtering

In [83]:
# Filtering on singlr condition
df[df['IMDb']>6]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [85]:
df[df["Year"]>2017]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [89]:
# Filtering on Multiple condition
df[(df["IMDb"]>6) & (df["Year"]>2017)]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [91]:
# Using query() Function
df.query("IMDb > 6 and Year > 2017")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2